@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    padding: 16px 0;
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 50px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    background-color: rgba(128, 128, 128, 0.527);
    height: 6px;
}

.btn{
    font-family: 'Poppins', sans-serif;
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(255, 255, 255, 0.041);
    border: 1px solid white;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 3px 24px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.307);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}

section{
    padding: 10px;
}
.secImg video{
    position: absolute;
    height: 210px;
    width: 321px;
    left: 60px;
    top: 52px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.first > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 20px;
    font-weight:lighter;
}

.faq h1{
    text-align: center;
    font-size: 35px;
    margin: 24px auto;
}

.faq{
    padding: 34px;
    background: black;
    color: white;
}

.faqbox{
    transition: all 0.5s ease-out;
    display: flex;
    background-color: rgba(128, 128, 128, 0.388);
    justify-content: space-between;
    padding: 22px;
    max-width: 70vw;
    margin: 14px auto;
    cursor: pointer;
} 

.faqbox:hover{
    background-color: rgba(128, 128, 128, 0.631);
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer a{
    font-size: 14px;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.hero .btn-red{
    display: flex;
    align-items: center;   /* 🔥 vertical center */
    justify-content: center;
    gap: 8px;
}

.hero .btn-red svg{
    stroke: white;
}

@media screen and (max-width: 900px){
    nav{
        max-width: 90vw;
    }
    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .first {
        flex-wrap: wrap;
    }
    /* .secImg img {
    }
    .secImg video {
    } */
    footer {
        max-width: 90vw;
        padding: 75px 0;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}